html{
    max-width:1440px;
    margin: auto;
  }
  
    @import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

    * {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
    }
    
    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: linear-gradient(-45deg, #1B4A56, #C79B76);
      background-size: 300% 300%;
      animation: gradient 10s ease infinite;     
    }
    
    
    @keyframes gradient {
        0% {
          background-position: 0% 50%;
          }
        50% {
          background-position: 100% 50%;
          }
        100% {
          background-position: 0% 50%;
          }
    }
    
    .container {
      position: relative;
      padding: 50px;
      width: 260px;
      min-height: 380px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      border-radius: 10px;
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
      
    }
    
    #zone-connexion {
        padding: 20px;
        margin: 20px;
        width: 400px;
    }
    #zone-inscription {
        padding: 20px;
        margin: 20px;
        width: 400px;
        
    }

    .container::after {
      content: '';
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-radius: 5px;
      pointer-events: none;
      background: linear-gradient( to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%
      
      );
    }
    
    .input-groupe input{
        width: 250px;
        height: 20px;
    }
    label {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    label input {
      font-size: 1em;
      color: #f9f9f9;
      background: transparent;
      padding: 1rem 1.2rem;
      width: 350px;
      border-radius: 5px;
      border: 2px solid #7a7a7a;
      transition: all 0.2s;
    }
    label input:focus {
      border-color: #ff4754;
    }
    label .password-icon {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      width: 20px;
      color: #f9f9f9;
      transition: all 0.2s;
      right: 20px;
    }
    label .password-icon .feather-eye-off {
      display: none;
    }
    label .password-icon:hover {
      cursor: pointer;
      color: #ff4754;
    }
    
    
    .bout {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      font-size: 1rem;
      
    }